.pokemons {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 110%;
}

.ground-color {
	background-color: #dfbf69;
}

.flying-color {
	background-color: #a98ff0;
}

.fighting-color {
	background-color: #bf3029;
}

.psychic-color {
	background-color: #f65687;
}

.poison-color {
	background-color: #a040a0;
}

.ice-color {
	background-color: #98d5d7;
}

.rock-color {
	background-color: #b8a137;
}

.steel-color {
	background-color: #b9b7cf;
}

.electric-color {
	background-color: #f7cf2e;
}

.water-color {
	background-color: #678fee;
}

.dark-color {
	background-color: #725847;
}

.ghost-color {
	background-color: #6e5896;
}

.dragon-color {
	background-color: #6f38f6;
}

.fairy-color {
	background-color: #f9aec7;
}

.fire-color {
	background-color: #ee7f30;
}

.grass-color {
	background-color: #77c850;
}

.bug-color {
	background-color: #a8b720;
}

.normal-color {
	background-color: #a6a877;
}

.pokemon {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	padding: 1rem;
	border-radius: 1rem;
	background-image: url(../img/pokeball-bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 50%;
	transition: all 0.3s ease-in-out;
}
.pokemon:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.pokemon .number {
	color: #000;
	opacity: 0.3;
	text-align: right;
	font-size: 0.625rem;
}

.pokemon .name {
	text-transform: capitalize;
	color: #fff;
	margin-bottom: 0.25rem;
}

.detail {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.detail .types {
	padding: 0;
	margin: 0;
	list-style: none;
}

.detail .types .type {
	color: #fff;
	padding: 0.25rem 0.5rem;
	margin: 0.25rem 0;
	font-size: 0.75rem;
	border-radius: 1rem;
	filter: brightness(1.1);
	text-align: center;
}

.pokemon .detail img {
	width: 100px;
	height: 100px;
	filter: drop-shadow(0 0 0.25rem #1f1416);
}

.btn {
	margin-top: 20px;
	transition: color 0.3s ease-in-out;
}
.btn:hover {
	color: #fff;
	cursor: pointer;
}

@media screen and (min-width: 380px) {
	.pokemons {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 576px) {
	.pokemons {
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.pokemons {
		width: 70%;
	}
}
